*.cache
*.la
*.lo
*.log
*.o
*.scan
*.tar.gz
.deps
.libs
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.status
/configure
/gnulib
/INSTALL
/lib
/libtool
/stamp-h1
